section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    max-width:60rem;
    height: auto;

    margin:auto;
    margin-top:3rem;
    margin-bottom: 2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

    #border-container{
        background-color: #bfbcb7;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

        .about-me{
            font-weight: 400;
            font-size: 32px;
            align-items: center;
            text-align: center;
            padding-bottom: 2rem;
            padding-top:2rem;
            color: white;
        }
    
        div{
            text-align: center;
        
            #portrait{
                width: 15rem;
                height: auto;
                border-radius: 3px;
                padding: 8px;
            }
    
            #name{
                padding-top:2rem;
                font-weight: 400;
                color: white;
            }
    
            #aboutMe{
                max-width: 30rem;
                line-height: 23px;
                text-align:center;
                margin:auto;
                padding: 2rem;
                color: white;
       
            span{
                font-weight: 400;
                font-size:18px;
                color:rgb(79, 89, 97);
            }   
            }
        }
    }
}

@media (max-width: 760px) {
    section{
        max-width: 30rem;
    }
}
