.date-time-container {
    display:flex;
    flex-direction: column;
    margin:1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 5rem;
    background-color: rgb(255, 255, 255);

    ::ng-deep .fc {
        font-family: 'roboto';
        background-color: white;
        max-height: 12rem;
        border-radius: 5px;
        padding: 1rem;

        ::ng-deep .fc-today-button{
            display:none;
        }

        ::ng-deep .fc-button {
            padding: 0.4rem 1rem;
          }

        ::ng-deep .fc-timeGridweek-button{
            display:none;
        }

        ::ng-deep .fc-day-today {
            background-color: rgb(243, 247, 253);
          }

          ::ng-deep .fc-toolbar-title {
            font-weight: 600;
            color: #4b4b4b;
          }

      }

      .available-times{
        padding: 1rem;

        h3{
            font-weight: 400;
            padding-left: 1rem;
        }
        

        .ng-star-inserted {
            display: grid;
            grid-template-columns: repeat(3, 1fr); 
            gap: 1rem; 
            padding: 1rem;
            max-width: 25rem;

            button{
                background-color: rgb(243, 247, 253);
                border: 3px solid #5296b4;
                cursor:pointer;
                transition: background-color 0.3s ease-in;
                font-weight: 400;
                border-radius: 2px;
                box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
                padding: 0.6rem;
                

                &:hover{
                    background-color:  rgb(214, 222, 238);
                }

                &.active {
                    background-color: rgb(94, 124, 168); 
                  }
            }
        }
      }

      #goToBookingBtn{
        display: flex;
        flex-direction: center;
        text-align:center;
        align-items: center;
        margin:auto;
        margin-bottom: 2rem;
      }
}

@media (max-width: 760px) {
    .date-time-container {

        ::ng-deep .fc{
            h2{
                font-size: 18px;
            }
        }

        .available-times{       
    
            .ng-star-inserted {
                grid-template-columns: repeat(2, 1fr); 
                max-width: 15rem;
            }
        }
    }
}
