<full-calendar [options]="calendarOptions"></full-calendar>


<div class="date-time-container">

    <div>
        <button>icon arrow</button>
        <p>vecka 26, 2025</p>
        <button>icon arrow</button> 
    </div>

    <div>
        <ul>
            <div>
                <label>MÅN</label>
                <li>08:00</li>
                <li>09:00</li>
                <li>10:00</li>
                <li>11:00</li>
                <li>14:00</li>
                <li>15:00</li>
                <li>15:00</li>
                <li>16:00</li>
            </div>
            <div>
                <label>TIS</label>
                <li>08:00</li>
                <li>09:00</li>
                <li>10:00</li>
                <li>11:00</li>
                <li>14:00</li>
                <li>15:00</li>
                <li>15:00</li>
                <li>16:00</li>
            </div>
            <div>
                <label>ONS</label>
                <li>08:00</li>
                <li>09:00</li>
                <li>10:00</li>
                <li>11:00</li>
                <li>14:00</li>
                <li>15:00</li>
                <li>15:00</li>
                <li>16:00</li>
            </div>
            <div>
                <label>TOR</label>
                <li>08:00</li>
                <li>09:00</li>
                <li>10:00</li>
                <li>11:00</li>
                <li>14:00</li>
                <li>15:00</li>
                <li>15:00</li>
                <li>16:00</li>
            </div>
            <div>
                <label>FRE</label>
                <li>08:00</li>
                <li>09:00</li>
                <li>10:00</li>
                <li>11:00</li>
                <li>14:00</li>
                <li>15:00</li>
                <li>15:00</li>
                <li>16:00</li>
            </div>
            <div>
                <div>
                    <label>LÖR</label>
                    <li>08:00</li>
                    <li>09:00</li>
                    <li>10:00</li>
                    <li>11:00</li>
                    <li>14:00</li>
                    <li>15:00</li>
                    <li>15:00</li>
                    
                </div>
            </div>
            <div>
                <label>SÖN</label>
            </div>
        </ul>
    </div>
</div>