<div class="date-time-container">
    <app-arrow-button (back)="goBack()"></app-arrow-button>

    <full-calendar #calendar [options]="calendarOptions"></full-calendar>

    <div *ngIf="!isLoaded" class="loader">
        Laddar tider...
      </div>

    <div class="available-times" *ngIf="selectedDate">
        <h3> Tider för {{ formatDate(selectedDate) }}:</h3>
        <div *ngIf="selectedTimes.length > 0; else noTimes">
            <button *ngFor="let time of selectedTimes"
            [ngClass]="{active: selectedTime === time}"
            (click)="selectTime(time)"
            > {{time}} </button>
        </div>
        <ng-template #noTimes>
            <p> Inga tider tillgängliga. </p>
        </ng-template>
    </div>

    <app-button 
    [text] = "'Nästa steg'"
    [color]= "selectedDate && selectedTime ? 'primary' : 'secondary'"
    [disabled]="!(selectedDate && selectedTime)"
    (click)="goToFinnishBooking()"
    id="goToBookingBtn"> 
    </app-button>
</div>