<div class="find-us-banner">
    <div class="overlay"></div>

    <div class="center-banner-content">
        <p>Hos oss kan du boka online vilken tid som helst på dygnet runt! Annars når du oss på: 
            <span id="phone-nr">tel. 0701 233 456 </span>
        08.00-15.00 vardagar 
        </p>

        <a routerLink="/booking" class="booking-btn">
            <app-button 
            type="button" 
            text="Boka din tid här"
            color="primary"
            ></app-button>
        </a>
    </div>
</div>