<main [@slideIn]>
    <section class="welcome-section" >
        <h3 id="welcome-text">Välkommer till BOOK MY HAIR!</h3>

        <p> Vi är en liten mysig frisörsalong med en hemtrevlig känsla i en äldre byggnad i utkanten av Helsingborg.</p>
      
        <p>Du kan hitta oss på Fakegatan 3 i Helsingborg.</p>
      
        <p>Vi värnar om våra kunder och att ni ska få en fantastisk upplevelse!</p>
    </section>

    <section >
        <app-find-us-banner>
        </app-find-us-banner>
    </section>

    <section class="hair-treatment-text" >
        <p>Hos oss erbjuder vi en mängd olika behandlingar för ditt hår, allt från klippning och färgning till vårdande behandlingar och permanent. </p>
    </section>

    <section>
        <app-collage></app-collage>
    </section>

    <section>
        <app-staff></app-staff>
    </section>
</main>

