<div>
    <div 
    *ngIf="currentStep === 'treatment'"
    @slideLeft
    class="step treatment-step">
    <app-treatment-select (nextStep)="goToDateTime()"></app-treatment-select>
    </div>

    <div
    *ngIf="currentStep === 'dateTime'"
    @slideLeft
    class="step datetime-step">
    <app-date-time-select (nextStep)="goToFinnishBooking()"></app-date-time-select>
    </div>

    <div
    *ngIf="currentStep === 'finnishBooking'"
    @slideRight
    class="step finnishbooking-step">
        <app-finnish-booking></app-finnish-booking>
    </div>
</div>

