<div>
    <div class="step-indicator">
        <div class="step-dot"
        [class.active]="currentStep === 'treatment'">
        </div>
        <div class="step-dot"
        [class.active]="currentStep === 'dateTime'">
        </div>
        <div class="step-dot"
        [class.active]="currentStep === 'finnishBooking'">
        </div>
        <div class="step-dot"
        [class.active]="currentStep === 'bookingConfirmation'">
        </div>
    </div>

    <div 
    *ngIf="currentStep === 'treatment'"
    @slideLeft
    class="step treatment-step">
    <app-treatment-select (nextStep)="goToDateTime()"></app-treatment-select>
    </div>

    <div
    *ngIf="currentStep === 'dateTime'"
    @slideLeft
    class="step datetime-step">
    <app-date-time-select (nextStep)="goToFinnishBooking()" (backStep)="onBackStepTreatment()"></app-date-time-select>
    </div>

    <div
    *ngIf="currentStep === 'finnishBooking'"
    @slideLeft
    class="step finnishbooking-step">
        <app-finnish-booking
        (nextStep)="goToBookingConfirmation()"
        (backStep)="onBackStepDateTime()"
        ></app-finnish-booking>
    </div>

    <div
    *ngIf="currentStep === 'bookingConfirmation'"
    @slideLeft
    class="step bookingConfirmation-step">
        <app-booking-confirmation ></app-booking-confirmation>
    </div>
</div>