#booking-confirmation-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:1rem;
    padding:1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 5rem;
    background-color: rgb(255, 255, 255);
    height: 15rem;

    #booking-confirmation-text{
        font-size: 24px;
    }
}